* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

section {
    padding: 40px 0;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

#miembros .team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    margin-bottom: 30px;
    width: 30%;
}

.member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.member p {
    font-size: 1em;
    color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}

/* kkkkk --------------------------------*/
header { 
    background-color: #527496;
 }

.navbar {
display: flex; 
justify-content: space-between; 
align-items: center; 
padding: 10px 20px;
font-size: large;
font-weight: 600;
}

.logo { 
display: flex;
align-items: center;
}
#log{
    width: 80px;
     height: 80px;
      margin-right: 30px
}

.text-logo h1 {
     margin: 0; 
     color: #e5eeee; 
     font-size: 24px; }

nav ul { list-style: none;
 margin: 0;
 padding: 0; 
 display: flex;
Justify-content: center;
align-items: center;
}


nav ul li { 
margin-left: 20px; } 

nav ul li a { 
text-decoration: none; 
color: #d8e0e0; 
font-size: 24px; } 

nav ul li a:hover {
 color: #ffffff; 
} 